.login-container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #004d7a 0%, #008793 50%, #00bf72 100%);
}

.login-content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.login-left {
    background: linear-gradient(135deg, #004d7a 0%, #008793 50%, #00bf72 100%);
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.login-logo {
    margin-bottom: 20px;
    max-width: 100px;
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.welcome-text h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.welcome-text p {
    font-size: 16px;
}

.login-right {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 100%;
    max-width: 400px;
}

.login-form-button {
    width: 100%;
    background: #004d7a;
    border: none;
    border-radius: 5px;
    height: 45px;
    font-size: 16px;
}

.login-form-button:hover {
    background: #00bf72;
}

.sign-up-button {
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    height: 45px;
}

.login-form-forgot {
    float: right;
}

.social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.social-icons a {
    color: #004d7a;
    margin: 0 10px;
    font-size: 20px;
}

@media (max-width: 768px) {
    .login-content {
        flex-direction: column;
    }

    .login-left, .login-right {
        padding: 20px;
    }

    .login-left {
        align-items: center;
        text-align: center;
    }
}
