/* Teste.css */

/* Define o gutter responsivo e ajuste do texto */
.responsive-row {
  margin-left: -8px; /* Margem negativa para compensar o gutter */
  margin-right: -8px; /* Margem negativa para compensar o gutter */
}

.responsive-col {
  padding-left: 8px; /* Padding padrão para colunas */
  padding-right: 8px; /* Padding padrão para colunas */
  font-size: 16px; /* Tamanho da fonte padrão */
}

@media (max-width: 576px) {
  .responsive-row .responsive-col {
    padding-left: 1px;
    padding-right: 1px;
    font-size: 15px; /* Reduz o tamanho da fonte para telas pequenas */
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .responsive-row .responsive-col {
    padding-left: 6px;
    padding-right: 6px;
    font-size: 14px; /* Ajusta o tamanho da fonte para telas pequenas a médias */
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .responsive-row .responsive-col {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 16px; /* Tamanho da fonte padrão para telas médias */
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .responsive-row .responsive-col {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px; /* Ajusta o tamanho da fonte para telas grandes */
  }
}

@media (min-width: 1200px) {
  .responsive-row .responsive-col {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 20px; /* Tamanho da fonte padrão para telas extra grandes */
  }
}
